<%= form_for @confession, :url => {:action => @confession.new_record? ? :create : :update} do |f| %>

  <% if @confession.errors.any? %>
    <div id="error_explanation">
      <p><small><%= pluralize(@confession.errors.count, "error") %> prohibited this confession from being saved:</small></p>
      <ul>
      <% @confession.errors.full_messages.each do |msg| %>
        <li><small><%= msg %></small></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>
  <div>
    <%= f.label :path_name %>
    <%= f.text_field :path_name %>
  </div>
  <button type="submit" class="radius">Submit</button>


<% end %>
