		

<section class="row clearfix">
	<div class="large-12 columns">
		<!-- Slider -->
		<div class="flexslider">
			<ul class="slides">
				<li class="slider-item" data-interchange="[<%= asset_path('slider_bg_0.jpg') %>, (default)]" >
					<div class="verticalContainer">
						<div class="verticalContent">
							<p class="text-center fs50 white uppercase m0"><strong>Confify Journal</strong></p>
							<div class="text-center fs20 white m0">
								<div class="white-line"></div>
								<span><i>for</i></span>
								<div class="white-line"></div>
							</div>
							<p class="text-center fs25 white uppercase m0" style="margin-top: 7px;"><strong>You &amp; Friends</strong></p>
						</div>
					</div>
				</li>
				<li class="slider-item" data-interchange="[<%= asset_path('slider_bg_1.jpg') %>, (default)]">
					
				</li>
				
			</ul>
		</div>
	</div>
</section>

<section class="row clearfix">
	<div class="large-12 columns">
		<div class="text-center">
			
			<div class="grey-line"></div>
			<span class="fs30 black-text m0">Best Sellers</span>
			<div class="grey-line"></div>
			
		</div>

		<div class="row" style="margin: 40px 0;">
			<div class="large-3 columns">
				<div class="card radius-5 relative">
					<div class="new-badge">
						New
					</div>
					<div class="card-img">
						<img class="radius-5" src="<%= asset_path('demo_pic.jpg') %>" />
					</div>
					<div class="card-caption">
						<p class="card-title fs20 black-text m0" style="padding-bottom: 10px;"><strong><i>Thinking of you</i></strong></p>
						<div class="row collaspe">
							<div class="large-6 columns pr0">
								<p class="card-price fs20 black-text m0" style="padding-top: 3px;">30000 <span class="gray-text">VND</span></p>
							</div>
							<div class="large-6 columns pl0">
								<a class="button tiny uppercase add-to-cart-btn m0 right"><strong>Add to cart</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="large-3 columns">
				<div class="card radius-5">
					<div class="card-img">
						<img class="radius-5" src="<%= asset_path('demo_pic.jpg') %>" />
					</div>
					<div class="card-caption">
						<p class="card-title fs20 black-text m0" style="padding-bottom: 10px;"><strong><i>Thinking of you</i></strong></p>
						<div class="row collaspe">
							<div class="large-6 columns pr0">
								<p class="card-price fs20 black-text m0" style="padding-top: 3px;">30000 <span class="gray-text">VND</span></p>
							</div>
							<div class="large-6 columns pl0">
								<a class="button tiny uppercase add-to-cart-btn m0 right"><strong>Add to cart</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="large-3 columns">
				<div class="card radius-5">
					<div class="card-img">
						<img class="radius-5" src="<%= asset_path('demo_pic.jpg') %>" />
					</div>
					<div class="card-caption">
						<p class="card-title fs20 black-text m0" style="padding-bottom: 10px;"><strong><i>Thinking of you</i></strong></p>
						<div class="row collaspe">
							<div class="large-6 columns pr0">
								<p class="card-price fs20 black-text m0" style="padding-top: 3px;">30000 <span class="gray-text">VND</span></p>
							</div>
							<div class="large-6 columns pl0">
								<a class="button tiny uppercase add-to-cart-btn m0 right"><strong>Add to cart</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="large-3 columns">
				<div class="card radius-5">
					<div class="card-img">
						<img class="radius-5" src="<%= asset_path('demo_pic.jpg') %>" />
					</div>
					<div class="card-caption">
						<p class="card-title fs20 black-text m0" style="padding-bottom: 10px;"><strong><i>Thinking of you</i></strong></p>
						<div class="row collaspe">
							<div class="large-6 columns pr0">
								<p class="card-price fs20 black-text m0" style="padding-top: 3px;">30000 <span class="gray-text">VND</span></p>
							</div>
							<div class="large-6 columns pl0">
								<a class="button tiny uppercase add-to-cart-btn m0 right"><strong>Add to cart</strong></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>






